.skinCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  background-color: whitesmoke;
}

.skinHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skinHeading h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.skinCard img {
  width: 350px;
  border-radius: 5px;
  margin: 20px auto;
}
